:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --black-color: #444;
  --light-black: #181818;
  --white-color: rgb(243, 241, 241);
  --yellow-brand: #fffb32;
  --html-color: rgb(219, 124, 0);
  --css-color: rgb(0, 98, 155);
  --sass-color: rgb(226, 0, 106);
  --js-color: rgb(177, 53, 53);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.navContainer {
  background-color: rgb(0, 0, 0);
}

.mainContainer {
  background-color: #444;
  height: 100vh;
  z-index: 10;
}

#back_container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1001;
}

#back_logo {
  width: 100%;
  height: 100%;
  z-index: -1000;
}

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-it-a {
  100% {
    fill: var(--yellow-brand);
  }
}

@keyframes fill-it-b {
  100% {
    fill: rgb(231, 216, 14);
  }
}

.r_1,
.r_2 {
  stroke: var(--yellow-brand);
  stroke-width: 2;
  stroke-dasharray: 1900;
  stroke-dashoffset: 1900;
}

.r_1 {
  animation: offset 2.5s linear forwards, fill-it-a 0.2s 2.5s forwards;
}

.r_2 {
  animation: offset 4s linear forwards, fill-it-b 0.2s 2.5s forwards;
}

@keyframes show_welcome {
  0% {
    transform: scale(0);
  }

  30% {
    transform: scale(1.1);
  }

  60% {
    transform: scale(0.9);
  }
}

#welcome h1 {
  animation: show_welcome 1.5s ease-out backwards;
  transform-origin: 50% 50%;
  animation-delay: 0.5s;
}
