.description {
  padding-top: 100px;
  justify-content: center;
  z-index: 100;
  height: calc(100vh - 98px);
}

.buttonsContainer {
  padding-top: 30px;
}

.description h1 {
  color: #fff;
  font-size: 2.25rem;
  margin-bottom: 10px;
}

.description h2 {
  color: rgb(148, 143, 143);
  font-size: 1rem;
}

.buttonsContainer a {
  background-color: var(--black-color);
  padding: 8px 15px;
  border-radius: 2.5px;
  letter-spacing: 3px;
  font-size: 0.75rem;
  width: 134px;
  border: 1px solid var(--yellow-brand);
  text-align: center;
  display: inline-block;
  margin: 0 25px 25px 0;
  color: var(--yellow-brand);
}

.buttonsContainer a:hover {
  background-color: var(--yellow-brand);
  color: var(--light-black);
}

.buttonsContainer a:last-child {
  margin-right: 0;
}

.logoContainer {
  position: absolute;
  top: 150px;
  right: 0;
  z-index: -1001;
}

@media (min-width: 600px) {
  .logoContainer {
    right: 5%;
  }
}

@media (min-width: 900px) {
  .description h1 {
    font-size: 3rem;
  }

  .description h2 {
    color: rgb(148, 143, 143);
    font-size: 1.2rem;
  }

  .buttonsContainer a {
    font-size: 1.2rem;
    width: 170px;
  }

  .logoContainer {
    right: 20%;
  }
}

@media (min-width: 1280px) {
  .logoContainer {
    right: 25%;
  }
}
