.navigationContainer {
  height: 78px;
  padding: 20px 0 0;
  margin-bottom: 20px !important;
  justify-content: space-around;
}

.logoContainer {
  position: relative;
}

.mainNavContainer {
  display: none;
  text-align: right;
}

.menu {
  height: 50px;
  position: relative;
}

.mainNavLink {
  margin-top: 20px;
  display: inline-block;
  color: var(--yellow-brand);
  font-size: 25px;
  max-width: 160px;
}

.mainNavLink:hover {
  color: rgb(255, 109, 0) !important;
}

@media (min-width: 900px) {
  .mainNavContainer {
    display: initial;
  }

  .menu {
    display: none;
  }
}
